@mixin default-page-header {
  width: 100%;
  height: 10vh;
  margin: 16px 0px 8px 0px;
  font-size: 32px;
}
@mixin default-page-content {
// .page-content {
  width: 100%;
  margin: 32px;
  &-item {
    padding: 8px 28px 28px 28px;
    &-header {
      margin: 12px;
    }
    &-main {
      display: flex;
      justify-content: flex-start;
      align-content: center;
    }
    &-lists {
      margin: 12px;
    }
    &-footer {
      display: flex;
      align-items: center;
      margin-top: 5vh;
    }
  }
}
.v-input {
  width: 25vw;
}
